body {
    font-family: Montserrat, sans-serif;
    background-color: hsl(30, 38%, 92%);
    display: grid;
    height: 100vh;
    align-items: center;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 2fr 0.25fr 0.75fr;
    grid-template-areas: 
    ". . ."
    ". container ."
    ". footer ."
    ". . .";
}

footer {
    margin: 0 auto;
    grid-area: footer;
}

div {
    background-color: hsl(0, 0%, 100%);
}

img {
    content: url(./images/image-product-desktop.jpg);
    width: 50%;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

p {
    font-size: 14px;
    color: hsl(228, 12%, 48%);
}

button {
    display: flex;
    background-color: hsl(158, 36%, 37%);
    color: hsl(0, 0%, 100%);
    border: none;
    font-weight: 700;
    border-radius: 5px;
    width: 90%;
    height: 10%;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

#icon {
    float: left;
    width: 40px;
    height: 20px;
    object-fit: contain;
    content: url("./images/icon-cart.svg");
}

.container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 800px;
    min-width: 60%;
    height: 500px;
    margin: auto;
    box-sizing: border-box;
    border-radius: 10px;
    grid-area: container;
}

#description-container {
    width: 40%;
    height: 100%;
    margin: auto;
}

#perfume {
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 15% 5% 10%;
}

#perfume-name {
    font-family: Fraunces;
    margin: 10% 5%;
}

#perfume-description {
  margin: 0 5%;
  line-height: 25px;
}

#new-price {
    display: inline-block;
    width: 25%;
    font-family: Fraunces;
    color: hsl(158, 36%, 37%);
    margin-left: 5%;
}

#old-price {
    display: inline-block;
    width: 65%;
    text-decoration: line-through;
    text-align: center;
    margin-right: 5%;
}

@media (max-width: 800px) {

    body {
        align-items: center;
        grid-template-columns: 0.1fr 2fr 0.1fr;
        grid-template-rows: 0.1fr 2fr 0.25fr 0.75fr;
        grid-template-areas: 
        ". . ."
        ". container ."
        ". footer ."
        ". . .";
    }

    img {
      width: 100%;
      content: url(./images/image-product-mobile.jpg);
      object-fit: cover;
      border-radius: 10px 10px 0 0;
    }    

    .container {
        flex-direction: column;
        width: 100%;
        height: fit-content;
        padding-bottom: 5%;
    }

    #perfume, #perfume-name, #perfume-description {
        margin: 5% 10%;
    }

    .mobile {
        display: none;
    }

    #description-container {
      width: 100%;
      height: fit-content;
    }
  } 

